@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: #3d3442;
$gold: #a8782f;
$body-color: #a8782f;
$body-bg: $black;

// scss-docs-start theme-colors-map
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.btn-primary {
	color: $gold;
}

.card {
	border-color: currentColor;
}

